<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="campy.com.dao.CampingDao">
	<select parameterType="campy.com.dto.CampingDto" id="mainSearch" resultType="campy.com.dto.CampingDto"> 
		select * from Camping where c_name=#{c_name} and c_address=#{c_address} and maxno=#{maxno} and place=#{place} 
		and swim=#{swim} and pick=#{pick} and elec=#{elec} and wifi=#{wifi} and snack=#{snack} and pet=#{pet}
	</select>
</mapper>