<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="campy.com.dao.CampingDao">

	<select parameterType="campy.com.dto.CampingDto" id="mainSearch" resultType="campy.com.dto.CampingDto">
		select * from Camping
		<where>
		1=1
		<if test="c_name != null">
				<if test="c_address != null">
				and c_address LIKE '%'||#{c_address}||'%' 
				</if>
				<if test="maxno != 0">
				and maxno&gt;=#{maxno} 
				</if>
				<if test="place != null">
				and place=#{place}
				</if>
				<if test="swim == 't'">
				and swim=#{swim}
				</if>
				<if test="pick=='t'">
				and pick=#{pick}
				</if>
				<if test="elec=='t'">
				and elec=#{elec}
				</if>
				<if test="wifi=='t'">
				and wifi=#{wifi}
				</if>
				<if test="snack=='t'">
					and snack=#{snack}
				</if>
				<if test="pet=='t'">
					and pet=#{pet}
				</if>
			and c_name LIKE '%'||#{c_name}||'%'  
		</if>
		<if test="c_name == null">
			<if test="c_address != null">
				and c_address LIKE '%'||#{c_address}||'%' 
				</if>
				<if test="maxno != 0">
				and maxno&gt;=#{maxno} 
				</if>
				<if test="place != null">
				and place=#{place}
				</if>
					<if test="swim == 't'">
				and swim=#{swim}
				</if>
				<if test="pick=='t'">
				and pick=#{pick}
				</if>
				<if test="elec=='t'">
				and elec=#{elec}
				</if>
				<if test="wifi=='t'">
				and wifi=#{wifi}
				</if>
				<if test="snack=='t'">
					and snack=#{snack}
				</if>
				<if test="pet=='t'">
					and pet=#{pet}
				</if>
		</if>
		
		</where>
	</select>
	
	<select parameterType="int" id="campFinder" resultType="campy.com.dto.CampingDto">
		select * from Camping
		where
		c_no = #{c_no}
	</select>
	
	<select parameterType="int" id="roomFinder" resultType="campy.com.dto.RoomDto">
		select * from Room
		where
		c_no = #{c_no}
	</select>
	
	<delete parameterType="int" id="campFindDelete">
		delete from Camping
		where
		c_no = #{c_no}
	</delete>
	
	<delete parameterType="int" id="roomFindDelete">
		delete from room
		where
		c_no = #{c_no}
	</delete>
	
	
	<insert parameterType="campy.com.dto.CampCreateDto" id="campCreateInfoC">
		insert into Camping (c_no, c_name, c_address, maxno, place, c_tel, swim, pick, elec, wifi, snack, pet)
		values
		(seq_camping.nextval,#{c_name}, #{c_address}, #{maxno}, #{place}, #{c_tel}, #{swim}, #{pick}, #{elec}, #{wifi}, #{snack}, #{pet} )
	</insert>
	
	<insert parameterType="campy.com.dto.CampCreateDto" id="campCreateInfoR1">
		insert into Room (c_no, r_no, theme, r_maxno, r_content, c_price)
		values
		(seq_camping.currval, #{r_no1}, #{theme1}, #{r_maxno1}, #{r_content1}, #{c_price1} )
	</insert>
	
	<insert parameterType="campy.com.dto.CampCreateDto" id="campCreateInfoR2">
		insert into Room (c_no, r_no, theme, r_maxno, r_content, c_price)
		values
		(seq_camping.currval, #{r_no2}, #{theme2}, #{r_maxno2}, #{r_content2}, #{c_price2} )
	</insert>
	
	<insert parameterType="campy.com.dto.CampCreateDto" id="campCreateInfoR3">
		insert into Room (c_no, r_no, theme, r_maxno, r_content, c_price)
		values
		(seq_camping.currval, #{r_no3}, #{theme3}, #{r_maxno3}, #{r_content3}, #{c_price3} )
	</insert>
	
	<update parameterType="campy.com.dto.CampCreateDto" id="campReviseInfoC">
		update Camping 
		set 
		c_name=#{c_name}, c_address=#{c_address}, maxno=#{maxno}, place=#{place}, c_tel=#{c_tel}, swim=#{swim}, pick=#{pick}, elec=#{elec}, wifi=#{wifi}, snack=#{snack}, pet=#{pet}
		where  c_no=#{c_no}
	</update>
	
	<update parameterType="campy.com.dto.CampCreateDto" id="campReviseInfoR1">
		update Room
		set 
		theme=#{theme1}, r_maxno=#{r_maxno1}, r_content=#{r_content1}, c_price=#{c_price1}
		where c_no=#{c_no} and r_no=#{r_no1}
	</update>
	
	<update parameterType="campy.com.dto.CampCreateDto" id="campReviseInfoR2">
		update Room
		set 
		theme=#{theme2}, r_maxno=#{r_maxno2}, r_content=#{r_content2}, c_price=#{c_price2}
		where c_no=#{c_no} and r_no=#{r_no2}
	</update>
	
	<update parameterType="campy.com.dto.CampCreateDto" id="campReviseInfoR3">
		update Room
		set 
		theme=#{theme3}, r_maxno=#{r_maxno3}, r_content=#{r_content3}, c_price=#{c_price3}
		where c_no=#{c_no} and r_no=#{r_no3}
	</update>
	
	<select id="campAll" resultType="campy.com.dto.CampingDto">
		select * from camping
	</select>
	
	
	
	
</mapper>