<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="campy.com.dao.QnaDao">
	
	
	<insert parameterType="campy.com.dto.QaDto" id="insert"> 
		insert into qa(qa_no,id,qa_title, qa_content,qa_date)values(qa_seq.nextval,#{id},#{qa_title}, #{qa_content},sysdate) 
	</insert>

	<update parameterType="campy.com.dto.QaDto" id="updateQa"> 
		update qa set qa_title=#{qa_title} , qa_content=#{qa_content} where qa_no=#{qa_no}  
	</update>

	<delete parameterType="int" id="deleteQa"> 
		delete from qa where qa_no = #{qa_no} 
	</delete>
	
	<!-- 전체 데이터 수  -->
	<select id="count" resultType="int">
		select count(*) from qa 	
	</select>
	
	<!-- 리스트 -->
	<select parameterType="map" id="qaList" resultType="campy.com.dto.QaDto">
		<![CDATA[
		select * from
		(select qa_no,id,qa_title,qa_content,qa_date,qa_open, rownum r
		from (select * from qa order by qa_no desc)
		order by qa_no desc)where r >= #{start} and r <= #{end}
		]]>
	</select>
	
	<select parameterType="int" id="qaOne" resultType="campy.com.dto.QaDto"> 
		select * from qa where qa_no = #{qa_no} 
	</select>	
	
	<select id="countSearch" resultType="int" parameterType="map">
		select count(*) from qa
		<where>
			<choose>
				<when test="searchn == 0">
				qa_title like '%'||#{search}||'%' </when>
				<when test="searchn == 1"> qa_content like '%'||#{search}||'%'</when>
				<when test="searchn == 2"> id like '%'||#{search}||'%' </when>
			</choose>
		</where> 
	</select>
	
	<select id="qaListSearch" parameterType="map" resultType="campy.com.dto.QaDto">
		select * from
		(select qa_no,id,qa_title,qa_content,qa_date,qa_open, rownum r
		from (select * from qa order by qa_date desc)
		<where>
			<choose>
				<when test="searchn == 0">
				qa_title like '%'||#{search}||'%'</when>
				<when test="searchn == 1"> qa_content like '%'||#{search}||'%' </when>
				<when test="searchn == 2"> id like '%'||#{search}||'%' </when>
			</choose>
		</where> 
		order by qa_date desc 
		
		) where r >= #{start} AND r &lt;= #{end}
 		
	</select>
		
	<select id="selectComm" parameterType="int" resultType="campy.com.dto.QaDto">
		select * from qa_comm where qa_no = #{qa_no} order by qa_comm_date desc
	</select>
	
	
	
</mapper>