<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="campy.com.dao.ReserveDao">

<select id="reserveStatus" resultType="campy.com.dto.ReserveDto" > 
	select * from reserve 
</select> 

<delete id="deleteReserve" parameterType="campy.com.dto.ReserveDto">
	delete * from reserve where c_no = #{c_no} and r_no = #{r_no}
</delete>

<!-- 위는 예약 아래는 리뷰 -->

<select id="countReview" resultType="int">
	select count(*) from review
</select>
  
<select id="reviewList" parameterType="map" resultType="campy.com.dto.ReviewDto">
	<![CDATA[
		select * from (select r.*, rownum rn 
		from (select * from review order by rv_date desc) r order by rv_date desc) 
		where rn >= #{start} AND rn <=#{end}
	]]>
</select>
<!-- Dto에 start와 end가 없는 상태에서 2개 이상의 값을 보낼때 : map의 키 -->
  
<select id="reviewContent" parameterType="int" resultType="campy.com.dto.ReviewDto">
	select * from review where rv_no = #{rv_no}
</select>

<select id="reviewOne" parameterType="int" resultType="campy.com.dto.ReviewDto">
	select * from review where c_no = #{c_no} order by rv_no desc
</select> <!-- 캠핑장 선택에 따른 리뷰 보여주기 -->

<insert id="reviewWrite" parameterType="campy.com.dto.ReviewDto">
	insert into review(rv_no, rv_title, id, rv_date, rv_content, c_no, rate, rv_photo)
	values(seq_review.nextval, #{rv_title}, #{id}, sysdate, #{rv_content},#{c_no}, #{rate}, #{rv_photo} )
</insert>

<delete id="reviewDelete" parameterType="int">
	delete from review where rv_no = #{rv_no}
</delete>
</mapper>